[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]

[dev-packages]
flake8 = { git = "https://github.com/PyCQA/flake8.git", editable = true }
